#tier_1
  %section#posts
    %h1 My posts
    - cache @posts.first do
      = render @posts
  %section#photos
    %h1 My photos
    - cache @photos.first do
      %ul= render @photos, :square => true
  %section#bookmarks
    %h1 My bookmarks
    - cache @bookmarks.first do
      %dl= render @bookmarks
#tier_2
  %section#tweets
    %h1 My tweets
    - cache @tweets.first do
      %dl= render @tweets
  %section#tracks
    %h1 My tunes
    - cache @tracks.first do
      %dl= render @tracks