= link_to root_path do
  = image_tag "majx_logo.png", :alt => "Miha Rebernik, majx"
  
#card
  %h1
    Miha Rebernik
  %h2
    web developer, netizen, art appreciator
  %p I work with Ruby, Rails, HTML, CSS and JS to create awesome.

#location
  #user_distance
    You're around
    %strong#distance
      = current_visitor_distance.round
      - if ["United States", "Canada", "United Kingdom"].include?(current_visitor_location.country) 
        mi
      - else
        km
    away.
  #geolocating
    Locating you ...
    = image_tag "loading.gif"
  %em
    I'm at
    = current_location
  
#map{:style => "display: none"}
  = image_tag current_location.static_map
  = link_to "&times; Hide".html_safe, "#", :id => "location_hide"

%ul#social
  %li.facebook= link_to "Facebook", "http://facebook.com/mihar"
  %li.twitter= link_to "Twitter", "http://twitter.com/mihar"
  %li.flickr= link_to "Flickr", "http://flickr.com/majx"
  %li.lastfm= link_to "Last.fm", "http://last.fm/user/majx"
  %li.delicious= link_to "Delicious", "http://delicious.com/rasmajx"
  %li.skype= link_to "Skype", "skype://rasmajx"
  %li.linkedin= link_to "LinkedIn", "http://www.linkedin.com/in/miharebernik"
