!!! 5
%html{:class => 'no-js'}
  = render :partial => 'layouts/head'
  %body{ :lang => 'en', :id => "#{controller.controller_name}-#{controller.action_name}", :class => "#{controller.controller_name}" }
    = render 'layouts/chromeframe'
    #head
    #container{role: 'main'}
      %aside#side
        = render :partial => 'layouts/side'
      #main{ :role => 'main' }
        = render :partial => 'layouts/flashes'
        = yield
      %footer#footer
        = render :partial => 'layouts/footer'
    -# Javascript at the bottom for fast page loading
    = render :partial => 'layouts/javascripts'
